$result-height: 6.25vh;

.displays {
  height: auto;
}

.result {
  background-color: beige;
  height: $result-height;
  min-height: $result-height;
}

.input {
  background-color: pink;
  min-height: $result-height;
  max-height: $result-height * 6;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.keyboard {
  background-color: gray;
  height: 100vw;
}
